@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;700&display=swap');

*,*::before,*::after{
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
  font-size:16px;
  --feldgrau:#3A4E44;
  --gray:#7A7775;
  --oldgold:#D4BF31;
  --skyblue:#8BBCC5;
  --gunmetal:#30353D;
}


body{
  scroll-behavior: smooth;
  font-family: 'Merriweather Sans', sans-serif;
}

/*Header Styles */
.--header{
  display:flex;
  align-items: center;
  box-shadow: rgb(0 0 0 / 12%) 0 1px 8px;
}

.--header-logo{
  width: 4em;
  height:4em;
}

.--header-shop-icon{
  width:100%;
  padding:1em;
}

.--header-user{
  margin-left:auto;
  margin-right:1em;
}

/*Main Content Styles*/
.--main-content-cards{
  display:flex;
  flex-wrap:wrap;
}
.card {
  width: 9.375em;
  margin: .3125em;
  border-radius: 20px;
  padding: .625em;
  box-shadow: rgb(0 0 0 / 12%) 0 .0625em .5em;
}

.card img{
  width:100%;
  object-fit: cover;
}

/*Footer Styles*/
.--footer{
  background-color:var(--feldgrau);
  color:whitesmoke;
  text-shadow:0 0 2px var(--skyblue);
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding:1.2em 1em;
}

.--footer-location-container{
  display:flex;
  align-items: center;
}

@media (min-width:960px) {
  .--footer{
    position:absolute;
    bottom:0;
    width:100%;
  }
}